<h1>Browser</h1>
<form action="" method="">
    <input type="text" class="search" name="search" placeholder="Search...">
    <input type="number" name="from" class="difficulty" placeholder="Difficulty from...">
    <span>-</span>
    <input type="number" name="to" class="difficulty" placeholder="Difficulty to...">
    <input type="submit" value="search">
</form>
<div id="cars">
{{#each cars}}
    {{> carPreview}}
{{else}}
    <p>No cars in database. <a href="/create">Add the firs listing!</a></p>
{{/each}}
</div>

<script src="static/js/app.js"></script>