<div class="accessory">
    <img src="/static/assets/{{imageUrl}}" alt="NO PHOTO">
    <h3>Accessory Name: {{name}}</h3>
    <p>Accessory Description: {{description}}</p>
    <p>Accessory Price: {{price}}</p>
</div>