{{#with user}}
<h1 class="text-center">My Profile</h1>
<div class="profile"><img src="./static/img/profile.png" alt="default user">
    <h3>User Info:</h3>
    <div class="flex">
        <p>Username: </p>
        <p>{{username}}</p>
    </div>

    <div class="flex">
        <p>Enrolled Courses: </p>
        <p>
            <span>{{coursesNames}}</span>
        </p>
    </div>
</div>
{{/with}}


